.wrapper {
    display: flex;
    justify-content: left;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

.title {
    margin-left: 5%;
}


.body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid black;
}

.cpi-table {
    display: flex;
    border: 1px solid grey;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

.stats-table {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.stats-body {
    border: 2px solid black
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.columnss {
    flex: 1;
    padding: 0.5em;
    border-bottom: 2px solid #ddd;
}

.table-header {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid black;
}

.section-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.column {
    text-align: left;
    padding: 5px;
    border: 1px solid grey;
    width: 400px;
}

.column-header {
    text-align: left;
    padding: 5px;
    border: 1px solid grey;
    width: 400px;
}

.column-header2 {
    text-align: left;
    padding: 5px;
    border: 1px solid grey;
    width: 50%
}


.latest-report{
    display: flex;
    justify-content: space-between; 
}

.right-value {
    margin-right: 30%; 
}