.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  background-color: #181818;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 20px;
  margin: 0;
  transition: transform 0.2s ease-in-out;
}

.nav-title:hover {
  color: white;
  transform: scale(1.2);
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #181818;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: 0;
  transition: transform 0.2s ease-in-out;
}

.navLink:hover {
  color: white;
  transform: scale(1.2);
}