.favorites-container {
    border: 1px solid grey;
    width: 300px;
    padding-right: 10px;
}

.name-title {
    font-size: 25px;
    color: white;
}

.name-div {
    margin: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 3px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}