.bod {
    background-color: #181818;
    color: white;
    margin: 0;
}

#reports-container {
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
}

#report {
    display: inline-block;
    width: 300px;
    border: 1px solid black;
}

.col-md-3 {
    border: 2px solid black;
    margin: 0;
}


.input-row {
    width: 500px;
}

.price-container {
    display: flex;
    align-items: center;
}

.price-container h3 {
    margin-right: 10px;
}

.price {
    margin-right: 10px;
}

.stock-data-div {
    margin: 20px;
}


td,
th {
    border: 1px solid grey;
    padding: 5px;
    text-align: left;
}