.bod {
    background-color:#181818;
    color: white;
}
#reports-container {
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
}

#report {
    display: inline-block;
    width: 300px;
    border: 1px solid black;
}

.col-md-3 {
    border: 2px solid black;
}

