.bodys {
/* display: flex;
justify-content: center;
align-items: center; */
  background: linear-gradient(-45deg, #222222,
      #444444,
      #666666,
      #888888,
      #666666,
      #222222);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.market-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.market-watchers {
  font-size: 100px;
  font-family: Noto, serif;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
  transition-duration: 1s;
  -webkit-background-clip: text;
}

.market-watchers:hover {
  letter-spacing: 10px;
  margin: 0 -50px;
}

button {
  transition: transform .5s ease-out;
}

button:hover {
  transform: scale(1.1);
}

